<template>
  <div class="card mx-auto my-auto mt-5 p-4">
    <p v-html="getListOfQuestionsDisplay.question"></p>
    <div v-for="answer in getIncorrectAnswerArray" :key="answer">
      <input
        class="mr-2"
        name="answers"
        type="radio"
        :id="answer"
        :value="answer"
        @change="onChange($event)"
      />
      <label :for="answer" v-html="answer"></label>
      <br />
    </div>

    <br />
    <button class="btn btn-primary" @click="onNextQuestion">
      Next question
    </button>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapGetters, mapState } from "vuex";
export default {
  name: "QuestionScreen",
  computed: {
    ...mapGetters([
      "getListOfQuestionsDisplay",
      "gameCompleted",
      "getIncorrectAnswerArray",
    ]), //does not seem to work anyways.
    ...mapState([
      "error",
      "selectedAnswer",
      "listOfQuestions",
      "currentQuestionId",
    ]),
  },

  methods: {
    ...mapActions(["fetchListOfQuestions"]),
    ...mapMutations(["setSelectedAnswer", "incrementCurrentQuestionId"]),
    // on question change get the selected answer
    onChange(event) {
      let answer = event.target.value;
      this.setSelectedAnswer(answer);
      console.log(answer);
    },
    //on next question
    onTriviaQuestion(index) {
      return this.$state.listOfQuestions[index].question;
    },
    onNextQuestion() {
      //can i use state here, i shall increment the current question

      if (!this.$store.getters.isQuestionAnswered) {
        console.log("answer question Dummy!");
        return;
      }
      // once the questions are done we are routed to the results page!
      this.incrementCurrentQuestionId();
      const gameCompleted = this.$store.getters.gameCompleted;
      console.log(gameCompleted);
      if (gameCompleted) {
        this.$router.push("/results");
      }
    },
  },

  created() {
    this.fetchListOfQuestions();
  },
};
</script>

<style lang="css" scoped>
input {
  margin-right: 10px;
}
.card {
  width: 35rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.favorite {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
</style>
