<template>
  <div class="card p-4 m-4 mx-auto">
    <div class="alert alert-primary text-center">
      <!-- increasing by 10 for each correct answer! -->
      <h3>
        Your Results: {{ getScore.score * 10 }} / {{ getScore.total * 10 }}
      </h3>
    </div>
    <div
      class="alert"
      v-bind:class="{
        'alert-success': result.selectedAnswer === result.correctAnswer,
        'alert-danger': result.selectedAnswer !== result.correctAnswer,
      }"
      v-for="result in getResults"
      :key="result.id"
    >
      <h4 class="alert-heading" v-html="result.question"></h4>
      <hr />
      <p>Your answer:</p>
      <p class="mb-0" v-html="result.selectedAnswer"></p>
      <hr />
      <p>Correct answer:</p>
      <p class="mb-0" v-html="result.correctAnswer"></p>
      <br />
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-success w-100" @click="onRestart">
          Restart
        </button>
      </div>
      <div class="col">
        <button class="btn btn-success w-100" @click="onReplay">
          Replay
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapGetters, mapState } from "vuex";

export default {
  name: "ResultScreen",
  computed: {
    ...mapGetters(["getResults", "getScore", "getUsername", "getUserList"]),
    ...mapState(["selectedAnswer"]),
  },
  methods: {
    ...mapActions(["fetchUser", "registerUser"]),
    ...mapMutations(["reset", "resetQuestion"]),
    onReplay() {
      this.resetQuestion();
      this.$router.push("/questions");  
      },
    onRestart() {
      this.reset();
      this.$router.push("/");
    },
  },
  created() {
    this.registerUser();
  },
};
</script>

<style lang="css" scoped>
.card {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
</style>
