<template>
  <div>
    <h1 class="animate__animated animate__bounce">Trivia Game</h1>
    <b-container>
      <div class="bv-example-row">
        <b-card title="">
          <div>
            <b-form-group
              id="input-group-2"
              label="Enter your name to start the Game:"
              label-for="input-2"
              class="mb-3"
            >
              <b-form-input
                id="input-2"
                placeholder="Your name"
                @change="OnNameChange"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group
              id="input-group-2"
              label="Select number of Questions:"
              label-for="input-2"
              class="mb-3"
            >
              <select @change="onQuestionChange">
                <option>-- Questions --</option>
                <option>2</option>
                <option>5</option>
                <option>10</option>
                <option>15</option>
                <option>20</option>
                <option>25</option>
              </select>
            </b-form-group>

            <b-form-group
              id="input-group-2"
              label="Select the Difficulty:"
              label-for="input-2"
              class="mb-3"
            >
              <select @change="onDifficultyChange">
                <option>--Difficulty--</option>
                <option>Easy</option>
                <option>Medium</option>
                <option>Hard</option>
              </select>
            </b-form-group>

            <b-form-group
              id="input-group-2"
              label="Select the Category:"
              label-for="input-2"
              class="mb-3"
            >
              <select @change="onCategoryChange">
                <option>--Category---</option>
                <!-- looping a catogery in an array of catogerry -->
                <option v-for="category in getCategories" :key="category.id">
                  {{ category.name }}
                </option>
              </select>
            </b-form-group>

            <b-button
              class="w-100"
              type="submit"
              @click="onStartGame"
              variant="warning"
              >Start Game</b-button
            >
          </div>
        </b-card>
      </div>
    </b-container>
  </div>
</template>

<script>
// if the user does not select any of the options then also the game starts  the default options
import { mapActions, mapMutations, mapGetters } from "vuex";

export default {
  //I can get stuff from the store easily and define everything i will be using from Store
  name: "SelectScreen",
  computed: {
    ...mapGetters(["getCategories"]),
  },
  methods: {
    ...mapActions(["fetchListOfCategories", "fetchListOfQuestions"]),
    ...mapMutations([
      "setDifficulty",
      "setCategory",
      "setNumberOfQuestions",
      "setUsername",
    ]),

    OnNameChange(event) {
      console.log(event);
      this.setUsername(event);
    },
    onQuestionChange(event) {
      let numberOfQuestionsChange = Number(event.target.value);
      this.setNumberOfQuestions(numberOfQuestionsChange);
      console.log(event.target.selectedIndex);
    },
    // if the difficulty of the question is not selected it would give us the random questions
    onDifficultyChange(event) {
      if (event.target.selectedIndex == 0) {
        this.setDifficulty(null); //if you select and then diselect we need to reset the state
        return;
      }
      let difficulty = event.target.value.toLowerCase();
      this.setDifficulty(difficulty);
      console.log(difficulty);
    },
    // selecting the generally knowledge
    onCategoryChange(event) {
      let index = event.target.selectedIndex - 1; //did i accsidentally delete -1?
      if (index < 0) {
        return;
      }
      const categories = this.$store.getters.getCategories; //getcategories did not work as a function so i accessed it directly from the store
      let id = categories[index].id;
      this.setCategory(id);
      console.log(id);
    },
    onStartGame() {
      const username = this.$store.getters.getUsername;
      const difficulty = this.$store.getters.getDifficulty;
      const category = this.$store.getters.getCategory;
      const numberOfQuestions = this.$store.getters.getNumberOfQuestions;
      console.log(username, difficulty, category, numberOfQuestions);
      if (username && difficulty && category && numberOfQuestions) {
        this.$router.push("/questions");
      } else {
        alert("Please Select all options to Start Game");
      }
      console.log("the game was started");
    },
  },
  created() {
    this.fetchListOfCategories();
  },
};
</script>

<!-- add "scoped" attribute to limit CSS to this component only -->
<style lang="css" scoped>
.bv-example-row {
  background-color: #ffc107;
  max-width: 25.75rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.875rem;
  
}


</style>
