/* {
    background-color: #ffc107;  
} */
h1 {
    color: #351c75;
    font-weight: bolder;
    font-size: xxx-large;
    text-align:center;
    margin-top: 5%;
}
.btn {
    margin-top: 5%;
    border-color: #351c75!important;
    background-color: #351c75!important;
    color: pink;
    width: 100%;
}
.form-control{
border: 2px solid #351c75 !important;
}
.card{
 border: 2px solid #351c75 !important;   
}
.bv-example-row {
  background-color: palevioletred!important;
  max-width: 25.75rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.875rem;
}
