<template>
  <div id="app">
   <!-- routes from one screen to annother screen  -->
    <router-view>
    </router-view>
  </div>
</template>
<script>
export default {
  name: 'App',
}
</script>
<style>
</style>
